{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <div class="container">
        <div class="page-not-found">
			<h3><b>404</b></h3>
          <h3>OOPSIE WOOPSIE!! Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this!</h3>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
