{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, an App Developer.</h3>
        <h3>I love Computers, Arch linux and Softwares.</h3>
        <h3>Have a look at some of awesome <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more, check out my academic &amp; professional <a href="https://peratchiselvan.gitlab.io/portfolio/">resume</a>.</h3>
        <h3>Contact me at <a href="http://t.me/{{ .Site.Params.Social.Telegram }}">@{{ .Site.Params.Social.Telegram }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
