<footer>
  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; Peratchiselvan 2017 - 2018</p>
    </div>
  </div>
</footer>
<div class="footer"></div>

{{ partial "js" . }}
