<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Telegram }}
      <li><a href="http://t.me/{{ .Site.Params.Social.Telegram }}" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:{{ .Site.Params.Social.Email }}" target="_blank"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="http://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Gitlab }}
      <li><a href="https://gitlab.com/{{ .Site.Params.Social.Gitlab }}" target="_blank"><i class="fab fa-gitlab"></i></a></li>
    {{ end }}

  </ul>
</div>
